.song-list {
    margin-left: -10px;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 10px;
}

img {
    width: 20px;
    height: auto;
    padding-right: 10px;
}

button {
    width: 65px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}